<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<springProperty scope="context" name="application_name"
		source="spring.application.name" />

	<springProfile name="local | dev">
		<appender name="jsonConsoleAppender"
			class="ch.qos.logback.core.ConsoleAppender">
			<encoder
				class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
				<providers>
					<timestamp>
						<timeZone>UTC</timeZone>
					</timestamp>
					<logLevel />
					<message />
					<loggerName />
					<context />
					<provider
						class="net.logstash.logback.composite.loggingevent.ArgumentsJsonProvider" />
					<pattern />
					<mdc />
					<stackTrace>
						<throwableConverter
							class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
							<maxDepthPerThrowable>30</maxDepthPerThrowable>
							<maxLength>4096</maxLength>
							<shortenedClassNameLength>20</shortenedClassNameLength>
							<rootCauseFirst>true</rootCauseFirst>
						</throwableConverter>
					</stackTrace>
				</providers>
			</encoder>
		</appender>
		<root level="INFO">
			<appender-ref ref="jsonConsoleAppender" />
		</root>

		<logger name="atl" additivity="false" level="INFO">
			<appender-ref ref="jsonConsoleAppender" />
		</logger>


		<logger name="bal" additivity="false" level="INFO">
			<appender-ref ref="jsonConsoleAppender" />
		</logger>



	</springProfile>

	<springProfile name="prod">

		<springProperty scope="context" name="bal.achive"
			source="spring.logging.bal.archive" />
		<springProperty scope="context" name="bal.location"
			source="spring.logging.bal.location" />


		<springProperty scope="context" name="atl.achive"
			source="spring.logging.atl.archive" />
		<springProperty scope="context" name="atl.location"
			source="spring.logging.atl.location" />

		<appender name="STDOUT"
			class="ch.qos.logback.core.ConsoleAppender">
			<encoder>
				<pattern>
					%d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread])
					%highlight(%-5level)
					%logger{36}.%M - %msg%n
				</pattern>
			</encoder>
		</appender>

		<appender name="atl"
			class="ch.qos.logback.core.rolling.RollingFileAppender">

			<file>${atl.location}/log.log</file>

			<encoder
				class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
				<Pattern>
					%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level
					%logger{36}.%M - %msg%n
				</Pattern>
			</encoder>

			<rollingPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
				<fileNamePattern>
					${atl.archive}/log_%d{dd-MM-yyyy}_%i.log
				</fileNamePattern>
				<maxFileSize>10MB</maxFileSize>
				<maxHistory>10</maxHistory>
				<totalSizeCap>100MB</totalSizeCap>
			</rollingPolicy>

		</appender>


		<appender name="bal"
			class="ch.qos.logback.core.rolling.RollingFileAppender">

			<file>${bal.location}/log.log</file>

			<encoder
				class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
				<Pattern>
					%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level
					%logger{36}.%M - %msg%n
				</Pattern>
			</encoder>

			<rollingPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
				<fileNamePattern>
					${bal.archive}/log_%d{dd-MM-yyyy}_%i.log
				</fileNamePattern>
				<maxFileSize>10MB</maxFileSize>
				<maxHistory>10</maxHistory>
				<totalSizeCap>100MB</totalSizeCap>
			</rollingPolicy>

		</appender>


		<root level="INFO">
			<appender-ref ref="STDOUT" />
			<appender-ref ref="SAVE-TO-FILE" />
		</root>

		<logger name="atl" additivity="false" level="INFO">
			<appender-ref ref="atl" />
		</logger>


		<logger name="bal" additivity="false" level="INFO">
			<appender-ref ref="bal" />
		</logger>


	</springProfile>


</configuration>