<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<springProperty scope="context" name="application_name"
		source="spring.application.name" />

	<springProfile name="local | dev">
		<appender name="jsonConsoleAppender"
			class="ch.qos.logback.core.ConsoleAppender">
			<encoder
				class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
				<providers>
					<timestamp>
						<timeZone>UTC</timeZone>
					</timestamp>
					<logLevel />
					<message />
					<loggerName />
					<context />
					<provider
						class="net.logstash.logback.composite.loggingevent.ArgumentsJsonProvider" />
					<pattern />
					<mdc />
					<stackTrace>
						<throwableConverter
							class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
							<maxDepthPerThrowable>30</maxDepthPerThrowable>
							<maxLength>4096</maxLength>
							<shortenedClassNameLength>20</shortenedClassNameLength>
							<rootCauseFirst>true</rootCauseFirst>
						</throwableConverter>
					</stackTrace>
				</providers>
			</encoder>
		</appender>
		<root level="INFO">
			<appender-ref ref="jsonConsoleAppender" />
		</root>

		<logger name="atl" additivity="false" level="INFO">
			<appender-ref ref="jsonConsoleAppender" />
		</logger>


		<logger name="bal" additivity="false" level="INFO">
			<appender-ref ref="jsonConsoleAppender" />
		</logger>



	</springProfile>

	<springProfile name="prod">

		<springProperty scope="context" name="bal.achive"
			source="spring.logging.bal.archive" defaultValue="arhcive"/>
		<springProperty scope="context" name="bal.file"
			source="spring.logging.bal.file" defaultValue="logs/bal.log"/>
		<springProperty scope="context" name="bal.maxFileSize"
			source="spring.logging.bal.maxFileSize" defaultValue="10MB"/>
		<springProperty scope="context" name="bal.maxHistory"
			source="spring.logging.bal.maxHistory" defaultValue="10"/>
		<springProperty scope="context" name="bal.totalSizeCap"
			source="spring.logging.bal.totalSizeCap" defaultValue="100MB"/>
			


		<springProperty scope="context" name="atl.achive"
			source="spring.logging.atl.archive" defaultValue="archive" />
		<springProperty scope="context" name="atl.file"
			source="spring.logging.atl.file" defaultValue="logs/atl.log"/>
		<springProperty scope="context" name="atl.maxFileSize"
			source="spring.logging.atl.maxFileSize" defaultValue="10MB"/>
		<springProperty scope="context" name="atl.maxHistory"
			source="spring.logging.atl.maxHistory" defaultValue="10"/>
		<springProperty scope="context" name="atl.totalSizeCap"
			source="spring.logging.atl.totalSizeCap" defaultValue="100MB"/>

		<appender name="STDOUT"
			class="ch.qos.logback.core.ConsoleAppender">
			<encoder>
				<pattern>
					%d{dd-MM-yyyy HH:mm:ss} [%thread] %-5level %logger{36}.%M - %msg%n
				</pattern>
			</encoder>
		</appender>

		<appender name="atl"
			class="ch.qos.logback.core.rolling.RollingFileAppender">

			<file>${atl.file}</file>

			<encoder
				class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
				<Pattern>
					%d{dd-MM-yyyy HH:mm:ss} [%thread] %-5level %logger{36}.%M - %msg%n
				</Pattern>
			</encoder>

			<rollingPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
				<fileNamePattern>
					${atl.archive}/log_%d{dd-MM-yyyy}_%i.log
				</fileNamePattern>
				<maxFileSize>${atl.maxFileSize}</maxFileSize>
				<maxHistory>${atl.maxHistory}</maxHistory>
				<totalSizeCap>${atl.totalSizeCap}</totalSizeCap>
			</rollingPolicy>

		</appender>


		<appender name="bal"
			class="ch.qos.logback.core.rolling.RollingFileAppender">

			<file>${bal.file}</file>

			<encoder
				class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
				<Pattern>
					%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level
					%logger{36}.%M - %msg%n
				</Pattern>
			</encoder>

			<rollingPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
				<fileNamePattern>
					${bal.archive}/log_%d{dd-MM-yyyy}_%i.log
				</fileNamePattern>
				<maxFileSize>${bal.maxFileSize}</maxFileSize>
				<maxHistory>${bal.maxHistory}</maxHistory>
				<totalSizeCap>${bal.totalSizeCap}</totalSizeCap>
			</rollingPolicy>

		</appender>


		<root level="INFO">
			<appender-ref ref="STDOUT" />
		</root>

		<logger name="atl" additivity="true" level="INFO">
			<appender-ref ref="atl" />
		</logger>


		<logger name="bal" additivity="false" level="INFO">
			<appender-ref ref="bal" />
		</logger>


	</springProfile>


</configuration>